@page
@model Mercato.Pages.Player.ListPlayers
@{
    ViewData["Title"] = "Liste des Joueurs";
}

<h1>@ViewData["Title"]</h1>

<div class="mb-3">
    <a class="btn btn-success" asp-page="PlayerModel">
        <i class="bi bi-person-plus-fill"></i> Créer de nouveaux joueurs
    </a>
    <a class="btn btn-info ms-2" asp-page="ImportPlayersModel">
        <i class="bi bi-file-earmark-arrow-down-fill"></i> Importer des joueurs
    </a>
</div>

<form method="get">
    <div class="form-group">
        <label for="searchTerm">Rechercher par nom du joueur</label>
        <input style="margin-top:1em ;" type="text" id="searchTerm" name="searchTerm" value="@Model.SearchTerm" class="form-control" />
    </div>
    <div style="margin-top:1em ;">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
   
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Liste des transferts</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Position</td>
                <td>
                    <form method="post" asp-page-handler="ToggleTransferStatus">
                        <input type="hidden" name="PlayerId" value="@player.Id" />
                        <input type="checkbox" name="IsForTransfer" value="true" @(player.IsForTransfer ? "checked" : "") onchange="this.form.submit();" />
                    </form>
                </td>
                <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@player.Id">
                        <i class="bi bi-pencil-fill"></i> Edit
                    </a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@player.Id">
                        <i class="bi bi-trash-fill"></i> Delete
                    </a>
                </div>
            </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
            <a class="page-link" asp-page="./ListPlayers" asp-route-searchTerm="@Model.SearchTerm" asp-route-pageIndex="@(Model.PageIndex - 1)">Précédent</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" asp-page="./ListPlayers" asp-route-searchTerm="@Model.SearchTerm" asp-route-pageIndex="@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-page="./ListPlayers" asp-route-searchTerm="@Model.SearchTerm" asp-route-pageIndex="@(Model.PageIndex + 1)">Suivant</a>
        </li>
    </ul>
</div>
